nvim/.config/nvim/undodir/

# Ansible
.ansible

# macOS
.DS_Store
.localized
.AppleDouble
.LSOverride

# histfile
.zsh_history
.zsh/histfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg
*.egg-info/
.venv/
build/
dist/
develop-eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
.env
.idea/
.pytest_cache/
.ipynb_checkpoints/
profile_default/
ipython_config.py
.python_history

# nvim
nvim/.config/nvim/lazy-lock.json

# SSH
ssh/.ssh/config.d

# Temporary files and logs
*~
.#*
#*#
*.bak
*.swp
*.tmp
*.log
