*.md.swp
*.tf.swp
*.adm.json.swp
*.json.swp
*.yml.swp
*.pyc
.ansible
.aws
.azure
.berkshelf
.config/mark
.chef
.config/coc
.config/configstore
.config/cmus/*
.config/.gocode
.config/gcloud
.config/nvim/viminfo
.config/nvim/plugged/*
.config/nvim/undodir/*
.config/nvim/session/*
.config/neomutt/aliases*
.config/neomutt/private/*
.config/neomutt/tmp/*
.config/vifm/vifminfo
.config/nvim/.netrwhist
.config/iterm2
.config/topgun.yml
.docker
.DS_STORE
.idea
.git
.gitconfig.local
.gitconfig.oxalide
.gitconfig.claranet
.gem
.gnupg
.go
.irssi/config
.terraform
.terraform.lock.hcl
.qutebrowser/bookmarks/*
.qutebrowser/quickmarks
.ruby-version
.rbenv
.ssh/id_rsa*
.ssh/known_hosts
.ssh/config.d
.ssh/ssh-key-si
.ssh/test
.ssh/environment-MacBook*
.tmux/plugins/*
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.zsh/histfile
# project/collections/*
